@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Roboto&display=swap");
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1201px) {
  body {
    background-color: tomato;
  }
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1440px;
  padding: 100px 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (294px)[4];
      grid-template-columns: repeat(4, 294px);
  -ms-grid-rows: (338px)[4];
      grid-template-rows: repeat(4, 338px);
  grid-column-gap: 30px;
  grid-row-gap: 45px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 114px;
  line-height: 122px;
  /* or 107% */
  color: #000000;
}

.text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  /* or 138% */
  color: #000000;
}

.text2 {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  /* or 130% */
  color: #000000;
}

.box {
  width: 294px;
}

.box-img {
  width: 294px;
}

.box-text {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* or 148% */
  color: #000000;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.box2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.box3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
}

.box4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.box5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

.box6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
}

.box7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.box8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.box9 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.box10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 567px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
}

.box11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4 / 3 / 5 / 5;
}

.parent {
  width: 564px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.div1 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 4 / 3;
}

.div2 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 6 / 3;
}

.div3 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 / 8 / 3;
}

.div4 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
}

.div5 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 5 / 5;
}

.div6 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5 / 3 / 7 / 5;
}

.div7 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 9 / 5;
}

.div8 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 2 / 5 / 4 / 7;
}

.div9 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 4 / 5 / 6 / 7;
}

.div10 {
  width: 172px;
  height: 172px;
  background-color: aqua;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 6 / 5 / 8 / 7;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 200px 0;
  width: 1312px;
  height: 673px;
}

.krot {
  outline: 1px solid tomato;
  margin-right: 12px;
}

.grid__3 {
  margin-top: 5px;
}

.grid__4 {
  margin-left: 4px;
  margin-top: 20px;
}

.grid__5 {
  margin-right: 0;
  margin-top: 20px;
}

.grid__6 {
  margin-top: -130px;
}

.grid__7 {
  margin-top: -117px;
}

.grid__8 {
  margin-left: 4px;
  margin-top: 12px;
}

.grid__9 {
  margin-top: 12px;
}

.grid__10 {
  margin-right: 0;
  margin-top: -120px;
}

.box-199x292 {
  width: 199px;
  height: 292px;
  background-color: bisque;
  font-size: larger;
}

.box-211x292 {
  width: 211px;
  height: 292px;
  background-color: bisque;
  font-size: larger;
}

.box-417x420 {
  width: 417px;
  height: 420px;
  background-color: bisque;
  font-size: larger;
}

.box-234x289 {
  width: 234px;
  height: 289px;
  background-color: bisque;
  font-size: larger;
}

.box-410x353 {
  width: 410px;
  height: 353px;
  background-color: bisque;
  font-size: larger;
}

.box-211x353 {
  width: 211px;
  height: 353px;
  background-color: bisque;
  font-size: larger;
}

.box-202x225 {
  width: 202px;
  height: 225px;
  background-color: bisque;
  font-size: larger;
}

.box-234x357 {
  width: 234px;
  height: 357px;
  background-color: bisque;
  font-size: larger;
}

.line {
  width: 100vw;
  padding: 10vw;
}

.line__wrap {
  width: 80vw;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.line__wrap:nth-child(2n) .line__box {
  margin-left: auto;
}

.line__box {
  position: relative;
  padding: 2vw;
  width: 40vw;
  height: 20vh;
}

.line__wrap:first-child .line__box::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -2px;
  height: 50%;
  width: 4px;
  background-color: blueviolet;
}

.line__wrap:nth-child(2n) .line__box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 4px;
  background-color: blueviolet;
}

.line__wrap:nth-child(3) .line__box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  width: 4px;
  background-color: blueviolet;
}

.line__wrap:first-child .line__box::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -2px;
  height: 60%;
  width: 4px;
  background-color: blueviolet;
}

.line__wrap:last-child .line__box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -2px;
  height: 40%;
  width: 4px;
  background-color: blueviolet;
}

.line__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line__title {
  margin-top: 10px;
  font-size: 32px;
  text-align: center;
}

.line__wrap:nth-child(even) .line__title::before {
  content: "2";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  margin-right: auto;
  font-size: 12px;
  color: aliceblue;
}

.line__wrap:nth-child(4) .line__title::before {
  content: "4";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: aliceblue;
}

.line__wrap:nth-child(odd) .line__title::before {
  content: "3";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blueviolet;
  margin-right: auto;
  font-size: 12px;
  color: aliceblue;
}

.line__wrap:first-child .line__title::before {
  content: "1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  color: aliceblue;
  font-size: 12px;
}

.line__wrap:last-child .line__title::before {
  content: "5";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 2;
  color: aliceblue;
  font-size: 12px;
}

.line__text {
  margin-top: 10px;
  font-style: italic;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */